* {
	/*     box-sizing: border-box;
    border: solid red 1px; */
}

.form {
	display: flex;
	flex-direction: column;
	background: white;
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.signArea {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

.signArea a {
	text-decoration: none;
	padding: 1em;
	color: black;
}

.signArea a.active {
	background: black;
	color: white;
}
