.signUp {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input,
textarea {
	font-size: 1em;
	width: auto;
	border: 1px solid #a0b3b0;
	margin-bottom: 1em;
	padding: 0.5em;
}

.buttonSignUp {
	border: 1;
	border-color: black;
	padding: 0.8em 0;
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	color: black;
	background-color: white;
	cursor: pointer;
}
